{% extends "registration/base.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="container reg-container">
    <div class="jumbotron" align="center">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {% if flag == 0 %}
              <h4>This mail adress is already used!</h4>
          {% endif %}
          {{ profile_form.as_p }}
          <input type="submit" name="" value="Register" class="regis-sub" style="">
        </form>
        
      {% endif %}
    </div>
  </div>
{% endblock %}